<div class="row">
    <div class="col-6">
  <app-dona titulo="Informática" [labels]="labels1" [dataSet]="charData1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Marketing" [labels]="labels2" [dataSet]="charData2"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona titulo="Asignaturas" [labels]="labels3" [dataSet]="charData3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Ocio" [labels]="labels4" [dataSet]="charData4"></app-dona>
    </div>
</div>